---
layout: page
title : Archive
header : Post Archive
group: navigation
---
{% include JB/setup %}
<div class="jumbotron">
		<h4>A continuación se muestran todos los repositorios actualizados de la cuenta de GitHub <strong>{{site.author.github}}</strong>. Elija una categoría y marque los proyectos que quiera que aparezcan en la web pública:</h4>
</div>

	<script type="text/javascript">
	//PRIMERO DEBEMOS OBTENER EL TOKEN ANTES DE EJECUTAR CUALQUIER FUNCION. INTRODUCIMOS LA LLAMADA A LA FUNCION DE CARGARREPOSITORIOS AL FINAL DE LA FUNCION ONTENER TOKEN, PARA ASEGURAR QUE YA SE HAYA OBTENIDO EL TOKEN	
    $(document).ready(function () {
    	getTokenFireBase();
    	//funcionPost();
    });

	</script>


	<div id="display-projects">
		<!-- ESPACIO RESERVADO PARA RELLENAR CON EL LISTADO DE LOS REPOSITORIOS DE GITHUB MEDIANTE JAVASCRIPT  -->
	</div>
		








<!--{% include JB/posts_collate %}-->
